<div class="cover">
    <div class="container">
      <div class="container-text">
        <span class="text-princ">Convocatoria abierta
          <p class="css-typing">Revisa la carga de datos provisionales.<span class="typed-cursor">|</span></p>
        </span>
        <span class="text-sec">SEGUNDA VUELTA ELECCIONES NACIONALES, ARGENTINA 22 NOVIEMBRE 2015</span>
      </div>
      <div class="pie-first">
        <div class="mouse"></div>
    </div>
    </div>
</div>
<div class="cover-help">
    <div class="container">
    <h1>AYÚDANOS</h1>
    <p>Ingresa con <%= link_to "Twitter", "/auth/twitter" %> o <%= link_to "Facebook", "/auth/twitter" %><p>
    <p>La aplicación te presentará un telegrama al azar y datos cargados</p>
    <p>Si los datos coinciden, marcá el botón <code>✓</code> de lo contrario marcá el botón <code>✗</code> </p>
    <p>Luego de esto aplicación te presentará otro telegrama y así sucesivamente.</p>
    <p>Si te equivocaste, podés volver atrás.</li>
  </div>
  <span class="photocredit">Photo credit: <a href="https://www.flickr.com/photos/homeracion/18842029282/">bjavierluque</a> / <a href="http://visualhunt.com">Visualhunt.com</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a></span>
</div>
<div class="jumbotron">
<div class="container">
        <h1 class="sep">Aclaración</h1>
        <p>Esta aplicación persigue una curiosidad estadística y no apoya a ningún
        partido político o fórmula electoral, ni tampoco persigue desautorizar el
        trabajo de la Dirección Nacional Electoral. Los datos de la aplicación son
        públicos y fueron extraídos del sitio de
        <a href="http://www.resultados.gob.ar/inicio.htm">resultados de
        las elecciones</a>. El ingreso con Twitter o Facebook se requiere para evitar robots y
        manipulación automática de las observaciones.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="https://twitter.com/691hxn" target="_blank" role="button">Si ténes dudas contáctanos</a>
        </p>
      </div>
</div>
