<nav>
  <ul>
    <% unless current_user %>
      <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
    <% else %>
      <li>You're logged in as <%= current_user.nickname %>.</li>
      <li><%= link_to "Sign out", signout_url %></li>
    <% end %>
  </ul>
</nav>
