/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  position: relative;
  font-size: 1.2em;
  background-color: #f1f1f1;
  padding-bottom: 0 !important;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
  }

code {
  background-color: lightgray;
  padding: 0 4px;
}
nav ul {
  list-style: none;
  padding: 0;
}
.module {
  position: relative;
  float: left;
  top: 0;
  right: 1em;
  width: auto;
}
.module .check, .module .counter {
  float: right;
}
.module .check form.button_to {
  display: inline;
  text-align: right;
}
.module .check form.button_to input[type=submit] {
  width: 4em;
  background-color: darkgreen;
  font-size: 1.6em;
  color: white;
}
.module .check form.button_to input[type=submit].not {
  background-color: darkred;
}
.module .counter {
  list-style: none;
  margin: 0;
  padding: 0 2em 0 0;
}
.module .counter li:nth-child(1) .data {
  background-color: lightyellow;
}
.data {
  padding: 0 4px;
  background-color: #fff;
  font-weight: bold;
}
.place_wrapper {
  position: relative;
}
.place {
  width: 100%;
  height: 800px;
  background-color: lightgray;
}
.place_wrapper .message {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  margin: 0;
  padding: 1em 2em;
  background-color: lightyellow;
  transform: rotate(-10deg);
}
.pagination {
  margin: 1em 0 2em;
  text-align: center;
}


/*==========  New Styles  ==========*/


/*==========  Animated Text  ==========*/
.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}


/*==========  Animated Cursor  ==========*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.navbar-brand
{
  margin-top: -7%;
}
.cover
{
background-size: cover;
background: url("argentina.jpg") no-repeat center center fixed;
width: 100%;
height: 100vh;
background-color: #1b1f23;
text-shadow: 0 1px 3px rgba(0,0,0,.5);
overflow: hidden;
color: #fff;
background-size: 100%;
}

.cover img {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}


.navbar a
{
color: #fff;
font-weight:600;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}


.container-text
{
position: relative;
float: left;
margin-top: 20%;
width: 66%;
letter-spacing: 0.01px;
line-height: 1.30;
}
.text-princ
{
font-size: 3.66em;
font-weight: lighter;
}
.text-sec
{
position: relative;
float: left;
margin-top: 2%;
}


.cover-help
{
  background-size: cover;
  background: url("bsas.jpg") no-repeat center center fixed;
  width: 100%;
  height: 475px;
  background-color: #1b1f23;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow: hidden;
  color: #fff;
  background-size: 100%;
  opacity: 1;
}

.cover-help > .container
{
  padding-top: 8%;
}
.cover-help > .container > p
{
  font-size: 1.5em;
}

.jumbotron .h1, .jumbotron h1 {
    font-size: 36px;
}

.jumbotron
{
  padding-bottom: 0px;
}

.cover-help a
{
  color: #fff;
  text-decoration: underline;
}

.photocredit
{
  position: relative;
  float: right;
  bottom: 0;
  margin-top: 5%;
  margin-right: 5%;
}


.shrink
{
  background-color: #000000;
  height: 10%;
}
