<nav>
  <ul>
    <% unless current_user %>
      <li><%= link_to "Entrar con Twitter", "/auth/twitter" %></li>
    <% else %>
      <li>Estás registrado como <%= current_user.display_name %>.</li>
      <li><%= link_to "Salir", signout_url %></li>
    <% end %>
  </ul>
</nav>
