<nav>
  <% unless current_user %>
    <p><%= link_to "Entrar con Twitter", "/auth/twitter" %></p>
  <% else %>
    <p>
      Ingresaste como <%= link_to current_user.display_name, current_user.twitter_url %>,
      hacé <%= link_to "clic para salir", signout_url %>.
    </p>
    <p>Registraste <%= current_user.checks.count %> chequeos.</p>
  <% end %>
</nav>
